@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark \;
 };
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
}
